@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf"),
    url("../../Assets/Font/Alternative files/AvenirNextLTPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf"),
    url("../../Assets/Font/Alternative files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf"),
    url("../../Assets/Font/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
