$prm-black: #323232;
$prm-blue: #0095ff;
$prm-silver: #afafaf;
$prm-white: #fff;
$sec-black: #000;
$sec-blue: #0065ad;
$sec-mercury: #e1e1e1;
$sec-alabaster: #fafafa;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
