@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Video-section {
  background-color: $sec-black;

  &__video {
    display: block;
    width: 100%;
    @include tablet {
      padding: 0 2.25rem;
    }
    @include desktop {
      padding: 0 5rem;
      width: 80rem;
      margin: 0 auto;
      max-height: 40rem;
    }
  }
}
